In [1]:
import pandas as pd

police = pd.read_csv("police.csv")
police.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
police.shape

(91741, 15)

In [4]:
police.columns

Index(['stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [ ]:
#do men or women speed often?
#

In [7]:
[col for col in police.columns]

['stop_date',
 'stop_time',
 'county_name',
 'driver_gender',
 'driver_age_raw',
 'driver_age',
 'driver_race',
 'violation_raw',
 'violation',
 'search_conducted',
 'search_type',
 'stop_outcome',
 'is_arrested',
 'stop_duration',
 'drugs_related_stop']

In [8]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [11]:
police.describe().T

,count,mean,std,min,25%,50%,75%,max
county_name,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
driver_age_raw,86414.0,1970.491228,110.914909,0.0,1967.0,1980.0,1987.0,8801.0
driver_age,86120.0,34.011333,12.738564,15.0,23.0,31.0,43.0,99.0

In [15]:
police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
stop_date             91741 non-null object
stop_time             91741 non-null object
county_name           0 non-null float64
driver_gender         86406 non-null object
driver_age_raw        86414 non-null float64
driver_age            86120 non-null float64
driver_race           86408 non-null object
violation_raw         86408 non-null object
violation             86408 non-null object
search_conducted      91741 non-null bool
search_type           3196 non-null object
stop_outcome          86408 non-null object
is_arrested           86408 non-null object
stop_duration         86408 non-null object
drugs_related_stop    91741 non-null bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [16]:
police.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [18]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [19]:
new_police = police.drop("county_name",axis=1)
new_police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# do men or women speed often?

In [32]:
new_police[new_police.violation=="Speeding"].driver_gender.value_counts(normalize=True)*100

M    68.052661
F    31.947339
Name: driver_gender, dtype: float64

# when a man is pulled over, how often is it for speeding?

In [33]:
new_police[new_police.driver_gender=="M"].violation.value_counts()

Speeding               32979
Moving violation       13020
Equipment               8533
Other                   3627
Registration/plates     2419
Seat belt               2317
Name: violation, dtype: int64

# Does gender affect who gets searched during a stop?

In [34]:
police.search_conducted.value_counts()

False    88545
True      3196
Name: search_conducted, dtype: int64

In [59]:
police.groupby("driver_gender")["search_conducted"].sum()

driver_gender
F     471.0
M    2725.0
Name: search_conducted, dtype: float64

In [61]:
police.groupby(["driver_gender","violation"]).search_conducted.sum()

driver_gender  violation
F              Equipment              106.0
               Moving violation       116.0
               Other                   39.0
               Registration/plates     67.0
               Seat belt                8.0
               Speeding               135.0
M              Equipment              598.0
               Moving violation       779.0
               Other                  171.0
               Registration/plates    267.0
               Seat belt               88.0
               Speeding               822.0
Name: search_conducted, dtype: float64

In [64]:
police.stop_date.str.slice(0,4).value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

In [65]:
police.stop_date = pd.to_datetime(police.stop_date)

In [68]:
police.stop_date.dt.day

0         2
1        18
2        23
3        20
4        14
5        23
6         1
7         6
8        13
9        13
10       13
11       13
12       14
13       18
14       18
15       19
16       19
17       19
18       20
19       24
20       28
21        7
22        8
23       18
24       28
25        3
26       17
27       21
28       22
29       26
         ..
91711    30
91712    30
91713    30
91714    30
91715    30
91716    30
91717    31
91718    31
91719    31
91720    31
91721    31
91722    31
91723    31
91724    31
91725    31
91726    31
91727    31
91728    31
91729    31
91730    31
91731    31
91732    31
91733    31
91734    31
91735    31
91736    31
91737    31
91738    31
91739    31
91740    31
Name: stop_date, Length: 91741, dtype: int64